{% extends "recommender/base.html" %}

{% block content %}
        
        <section>
            <h1></h1>
            <form action="" method="post">
                {% csrf_token %}
                <table>
                {{ form.as_table }}
                </table>
                <input type="submit" value="Search">
            </form>
            {% if result %}
            <div id="search_result">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Movie</th>
                            <th>Rating</th>
                            <th>Actors</th>
                            <th>Plot</th>
                            <th>Trailer</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, value in result.items %}
                        <tr>
                            <td>{{ key }}</td>
                            {% for v in value %}
                                {% if forloop.last %}                                               
                                    <td><a href="{{ v }}" target="_blank">Youtube</a></td>
                                {% else %}
                                    <td>{{ v }}</td> 
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
            {% endif %}
                    </tbody>
                </table>
            </div>
            <p>Note: Rating of 0 means rating is not available at this time</p>
        
        
           <!-- <video width="600" height="175" controls id="fpreview">
               <source src="https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_video" type="video/mp4">
               <source src="https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_video" type="video/ogg"
           </video> -->
        </section>
{% endblock %}