{% extends "base.html" %}

{% block content %}
        
        <section>
            <h1>Hi, {{ current_user.username }}!</h1>
                <fieldset id="fsearch">
                    <!-- <legend>Search</legend> -->
                    <label>Search: <input type="text" name="movlist" id="movlist" placeholder="Enter movie name(s)"></label>
                    <input type="submit" name="movlistform" value="Submit">
                </fieldset>
        </section>
        <aside>
            <fieldset id="fsynopsis">
                <legend>Synopsis</legend>
                <output type="textarea" for="movlist" id="synopsis"></output> 
            </fieldset>
        </aside>
        <section >
            <fieldset id="fsearchresult">
                <legend>Movie Search Result</legend>
                <output type="textarea" for="movlist" id="searchresult"></output> 
            </fieldset>
        </section>
        
        </section>
        <aside>
           <video width="600" height="175" controls id="fpreview">
               <source src="https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_video" type="video/mp4">
               <source src="https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_video" type="video/ogg"
           </video>
        </aside>
{% endblock %}

