{% extends "base.html" %}

{% block content %}
        
        <section>
            <h1>Hi, {{ current_user.username }}!</h1>
            <div class="mb-3">
                <label class="form-label">Enter Movie name(s) here:</label>
                <input type="textarea" class="form-control" id="search">
            </div>
            <div style="padding: 25px 25px 25px 25px;">
                <button onclick="getMovie()" class="btn btn-secondary">Get Movie</button>        
            </div>
        
            <div id="search_result" style="padding: 25px 25px 25px 25px;"></div>
            </div>
        
           <video width="600" height="175" controls id="fpreview">
               <source src="https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_video" type="video/mp4">
               <source src="https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_video" type="video/ogg"
           </video>
        </aside>
{% endblock %}

