/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, fieldset, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 2;
}

body {
    background: #293f50;
    color: white;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 45px;
    line-height: 44px;
    color: white;
  padding-top: 20px
    
  }
h2 {
    font-size: 23px;
    line-height: 40px;
    color: white;
    text-align: left;
  padding-top:  25px
  }

a {color: white;
    text-decoration: none;
  }
a:hover {
    color: #a9b2b9;}
nav {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
  text-align: center;
  padding-top:  25px;
  
  }
nav li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
  }
nav li:last-child {
    margin-left: 0;
  }

header {
    color: #fff;
    line-height: 44px;
    padding: 2px 0px 6px 0px;
    text-align: center;
    background-color: gold;
  }
header p {
        font-size: 24px;
        font-weight: 100;
}
span {
    padding-top: 25px;
    
}

footer {
    color:white;
    font-size: 14px;
    padding-bottom: 15px;
    padding-top: 14px;
    clear: both;
  }
  section {
    float: left;
  }
  aside {
    float: right;
    margin-right: 2%;
  }
 fieldset   {
    border:3px solid black;
    margin: 1.5%;
    width: 600px;
    display: inline-block;
  }
  #fsearch {
    font-size: 25px;
    padding-top: 20px;
    height: 50px;
    border-style: none;
  
  }
  #fsearchresult {
    font-size: 25px;
    padding-top: 20px;
    height: 300px;
    /* background-color: #fff; */
      
  }
  #fsynopsis {
    font-size: 25px;
    padding-top: 20px;
   height: 175px;
   /* background-color: #fff; */
   
  }
  /* #fpreview { */
    font-size: 25px;
    padding-top: 20px;
    height: 175px;
    float: right;
    /* background-color: #fff; */
    /* margin-right: 2%; */
  }
 